.tasks-list {
  display: flex;
  flex-direction: column;
  background-color: #ecf1fd;
  border-radius: 16px;
  padding: 16px;
  margin: 0 16px;
  min-width: 300px;
  height: 100%;
  &__header {
  display: flex;
    height: 16px;
    align-items: center;
    justify-content: space-between;
    &:hover {
      & button {
        display: block;
      }
    }
    & button {
      display: none;
    }
    & input {
      background: none;
            border: none;
            color: #001c39;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 600;

            &:focus {
              outline: none;
            }
    }
    &--actions {
      display: flex;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 16px 0 0 0;
  }

  &__footer {
    display: flex;
    padding-top: 1rem;
  }

  &__new {
        display: flex;
        padding: 16px;
    min-width: 300px;
        &--content {
          display: flex;
          & svg {
            fill: green;
          }
        }
      }
}
