.logo-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001C39;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
}