.button {
  display: flex;
  border-radius: 4px;
  padding: 8px 12px 8px 10px;
  border: 1px solid #E7E6EC;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px 0px #12033E0D;
  height: 32px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: bold;
}